.App{
    max-width: 400px;
    margin:0 auto;
    padding:20px;
    background-color: burlywood;
    height: auto;
    border-radius: 5px;
    box-shadow:0 0 10px black;
    
}
.task-input{
    margin-bottom:20px;
    align-items: center;
}
input[type="text"]{
    padding:8px;
    font-size: 16px;
    border:1px solid #ccc;
    border-radius: 5px;
    width:70%;
}
button{
    padding:8px 16px;
    font-size: 16px;
    background-color:rgb(94, 88, 80);
    border-radius: 5px;
    cursor:pointer;
    border:none;

}
ul{
    list-style:none;
    padding: 0;

}
li{
    margin-bottom:10px;

}
button.delete{
    margin-left:10px;
}
